EXPO_PUBLIC_API_URL=https://api.agillock.com.br/api
EXPO_PUBLIC_WS_URL=wss://api.agillock.com.br/ws/rastreamento
EXPO_PUBLIC_APP_ENV=production
EXPO_PUBLIC_EAS_PROJECT_ID=63e4131c-1fd9-4366-9bf7-d2bbbfafabd2
